<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your title goes here</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    {{{body}}}
  </main>
</body>
</html>